*{
  font-family: Arial, Helvetica, sans-serif !important;
}

.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      height: 100vh;
    padding: 0 20px;
    color: black;
   text-shadow: aliceblue;
  }
  
  .logo {
    margin-bottom: 50px;
  }
  
  .logo img {
    width: 25em;
    border-radius: 1em;
  }
  
  .content {
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  
  footer {
    text-align: center;
    font-size: 1rem;
    color: #666;
  }

  footer p {
    font-size:  1.5rem;


  }

  