*{
  font-family: Arial, Helvetica, sans-serif !important;
}

.Navbar{
background-color: black;
border-radius: 1em; 
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 1em;

}

  a {
    text-decoration: none;
    color: snow !important;
    font-weight: bolder;
    text-align: center;
  }

  .SignUp {
    justify-content: end;
  }
  
  .LogIn {
    justify-content: end; 
  }

  body{

    background-image: url("https://images.unsplash.com/photo-1517816743773-6e0fd518b4a6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;

  }

button{
    background-color: #fca311;
    border: solid 1px black;
    color: black;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1em;
    box-shadow: 0 0 0 0;
    transition: all 0.5s;
}

button:hover {
  opacity: .8;
}

label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.BasketHeader{
  
  left: 50px;
  width: calc(100% - 100px);  
  padding: 5px;
  text-align: center;
}


