*{
  font-family: Arial, Helvetica, sans-serif !important;
}

.Navbar{
width: 60em;
height: 5em;
background-image :linear-gradient(to right, #14213d, #fca311, #ffd60a);
border-radius: 1em; 
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 1em;
scroll-behavior: smooth;


}

  a {
    text-decoration: none;
    color: snow !important;
    font-weight: bolder;
    text-align: center;
  }

  .SignUp {
    justify-content: end;
  }
  
  .LogIn {
    justify-content: end;
  }

  body{
    background-image: url("https://images.unsplash.com/photo-1551125735-900f662aeb07?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
    background-repeat: no-repeat;
    background-size: cover;

  }

button{
    background-color: #fca311;
    border: solid 1px black;
    color: black;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 1em;
    box-shadow: 0 0 0 0;
    transition: 0.5s;
  

}

label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}